.iphone-14-15-pro-max-1-child {
  position: absolute;
  top: 61px;
  left: 101px;
  border-radius: var(--br-xl);
  background-color: #009231;
  width: 222px;
  height: 63px;
}
.login,
.username {
  position: absolute;
  font-weight: 800;
}
.login {
  top: 65px;
  left: 160px;
  font-size: var(--font-size-21xl);
}
.username {
  top: 211px;
  left: 21px;
  color: var(--color-chocolate);
}
.iphone-14-15-pro-max-1-inner,
.iphone-14-15-pro-max-1-item {
  position: absolute;
  top: 215px;
  left: 204px;
  border-radius: var(--br-mini);
  background-color: var(--color-blue);
  width: 204px;
  height: 35px;
}
.iphone-14-15-pro-max-1-inner {
  top: 321px;
}
.password {
  position: absolute;
  top: 317px;
  left: 21px;
  font-weight: 800;
  color: var(--color-chocolate);
}
.forgot-password {
  position: absolute;
  top: 479px;
  left: 55px;
  font-size: var(--font-size-17xl);
  color: var(--color-blue);
}
.rectangle-div {
  position: absolute;
  top: 632px;
  left: 117px;
  border-radius: var(--br-xl);
  background-color: var(--color-forestgreen-100);
  width: 189px;
  height: 69px;
  cursor: pointer;
}
.save {
  position: absolute;
  top: 645px;
  left: 171px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
}
.iphone-14-15-pro-max-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-fuchsia);
  font-family: var(--font-inter);
}
